---
layout: page
title: Ryan Grothouse
subtitle: Software Engineer + SysAdmin = Devops Engineer
---
<div>
  <center>
  <a href="https://github.com/udryan10" target="_blank" title="github">
    <img src="img/icons/128x128/github.png" alt="">
  </a>
  <a href="https://www.linkedin.com/in/ryangrothouse" target="_blank" title="linkedin">
      <img src="img/icons/128x128/linkedin.png" alt="">
  </a>
  <a href="https://facebook.com/rgrothouse" target="_blank" title="facebook">
      <img src="img/icons/128x128/facebook.png" alt="">
  </a>
 </center>
</div>
<div class="main-explain-area jumbotron">
  <div class="posts-list">
    {% for post in paginator.posts %}

      {% if forloop.first != true %}  
      <hr style='display: block; margin-top: 0.5em; margin-bottom: 0.5em; margin-left: auto; margin-right: auto; border-style: inset; border-width: 1px;' >
      {% endif %}

    <article class="post-preview">
      <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">{{ post.title }}</h2>

  	  {% if post.subtitle %}
  	  <h3 class="post-subtitle">
  	    {{ post.subtitle }}
  	  </h3>
  	  {% endif %}  
      </a>
  
      <p class="post-meta">
        {{ post.date | date: "%B %-d, %Y" }}
      </p>
    
     </article>
    {% endfor %}
  </div>
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
